/* Universal Styles */
html {
  font-size: 18px;
}

body {
  line-height: 1.4rem;
  font-family: Helvetica;
  font-size: 1rem;
}

.site-container {
  max-width: 960px;
  margin: 0 auto;
}

@media only screen and (max-width: 850px) {
  .site-container {
    width: 100%;
  }
}

@media only screen and (max-width: 560px) {
  .site-container {
    width: 100%;
    max-width: 100%;
  }
}

/* Main Banner Section Styles */
.main-banner {
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 1rem;
  height: 30rem;
}

@media only screen and (max-width: 850px) {
  .main-banner {
    padding-top: 0rem;
    height: 22rem;
  }
}

@media only screen and (max-width: 560px) {
  .main-banner {
    background-position: 20%;
    padding-top: 0rem;
    height: 17rem;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: cadetblue;
  color: white;
}

.header-logo {
  display: flex;
  align-items: center;
}

header img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

@media only screen and (max-width: 560px) {
  header span, header li {
    display: none;
  }

  .mobile-nav {
    display: inline;
    padding: 1rem 2rem 1rem 0;
  }
}

@media only screen and (min-width: 560px) {
  .mobile-nav {
    display: none;
  }
}

div ul {
  display: flex;
}

header li {
    padding: 1rem 2rem 1rem 0;
}

.slogan-container {
  display: flex;
  justify-content: flex-end;
}

h1 {
  color: black;
  font-weight: bold;
  font-size: 2rem;
  background-color: white;
  margin-top: 10rem;
  margin-right: -2rem;
  padding: 1.5rem 5rem;
  line-height: 2.4rem;
}

@media only screen and (max-width: 850px) {
  h1 {
    font-size: 1.33rem;
    margin-top: 5rem;
    margin-right: 2rem;
    padding: 0.75rem 4rem;
  }
}

@media only screen and (max-width: 560px) {
  h1 {
    font-size: 1rem;
    margin: 9rem auto 0 auto;
    padding: 0 1rem;
    width: 100%;
    text-align: center;
  }
}
/* Store Section Styles */
.store-container {
display: flex;
justify-content: center;
align-items: flex-start;
}

@media only screen and (max-width: 560px) {
  .store-container {
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
}

.store-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
  height: 8rem;
  margin: 3rem;
  text-align: center;
}

.store-items img {
  margin-bottom: 1rem;

}
@media only screen and (max-width: 560px) {
  .store-items {
    height: auto;
    margin: 0.77rem;
    font-size: 0.77rem;
  }
}

.paper {
  width: 3.5rem;
}

.ruler-truck {
  width: 5rem;
}

/* Philosophy and Appointments Section Styles */
.info-container {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 560px) {
  .info-container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3rem;
  }
}

.info  {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 560px) {
  .info  {
    width: auto;
    max-width: 100%;

  }

  .info h4 {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .info p {
    padding-top: 1rem;
    padding-bottom: 4rem;
    font-size: 0.77rem;
    text-align: left;
  }
}

h4 {
  max-width: 10rem;
  background-color: cadetblue;
  color: white;
  padding: 0.5rem 1.25rem;
  font-weight: bold;
}
/* Footer Styles */
.footer-container {
  display: flex;

  }

footer {
  background-color: azure;
  display: flex;
  align-items: center;
  padding: 4rem 2rem;
}

footer img {
  margin-right: 1rem;
  height: 1.5rem;
}

@media only screen and (max-width: 560px) {
  footer {
    justify-content: center;
  }

  footer span{
    display: none;
  }

}
